/* Configurações gerais */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 15px 20px;
}

header .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Catálogo */
.catalogo {
    text-align: center;
    padding: 50px 20px;
}

.catalogo h2 {
    font-size: 32px;
    font-weight: bold;
}

.catalogo p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Produtos */
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilização dos produtos */
.produto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    height: 450px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

/* Título do produto */
.titulo-produto {
    font-size: 1.1em;
    margin-top: 15px;
}

/* Preço */
.preco {
    font-size: 1.2em;
    color: #000;
    margin: 10px 0;
}

/* Botão de compra */
.comprar {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: auto;
    width: 100%;
}

.comprar:hover {
    background-color: #333;
}

/* Responsividade */
@media (max-width: 1024px) {
    .produto {
        width: 45%; /* 2 produtos por linha */
    }
}

@media (max-width: 768px) {
    .produto {
        width: 45%; /* 2 produtos por linha */
    }
}

@media (max-width: 480px) {
    .produto {
        width: 100%; /* 1 produto por linha */
    }
}
